/* margin between icon and text */
.fas {
    margin-right: 10px;
}

/* used for display/hidding the snackbar */
.hideMe {
    display: none;
}

/* used to highlight solved rows */
tr.highlight-green td.jsgrid-cell {
    background-color: lightgreen;
}

/* very important, wrap text in cells if they exceed with */
.jsgrid-cell {
    word-wrap: break-word;
}