{{ define "resultsFirstExercise" }}
{{ template "header" }}
{{ template "nav" }}
<body>
<!--<div id="GridExercise"></div>-->
<main class="jumbotron">
    <div class="text-center">
        <div class="row justify-content-md-center">
            <div class="col-sm border">
                <h1 class="mb-4 mt-4"><span class="fas fa-graduation-cap"></span>Results</h1>
                <div id="snackbar" class="alert hideMe">Message comes here</div>
                <div class="container-fluid" id="GridExercise"/>
            </div>
        </div>
    </div>
    <script>
        vDir = "{{$.VDir}}"
        RowCount = "{{$.RowCount}}"
        Exercise = "{{$.Exercise}}"
        GridfieldName1  = "{{$.GridfieldName1}}"
        GridfieldTitle1 = "{{$.GridfieldTitle1}}"
        GridfieldName2  = "{{$.GridfieldName2}}"
        GridfieldTitle2 = "{{$.GridfieldTitle2}}"
    </script>
    <script src="static/results.js"></script>

    <div class="container text-center p-5">
        <div class="row">
            <div class="col-sm">
                <form method="GET" action="{{$.VDir}}/results/second/">
                    <button type="submit" class="btn btn-primary btn-lg">Results 2. Exercise</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
{{ template "footer" }}
{{ end }}