{{ define "resultsSecondExercise" }}
{{ template "header" }}
{{ template "nav" }}
<body>
<main class="jumbotron">
    <div class="text-center">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-sm border">
                    <h1 class="mb-4 mt-4"><span class="fas fa-graduation-cap"></span>Results</h1>
                    <div id="snackbar" class="alert hideMe">
                        Message comes here
                    </div>
                    <div class="container-fluid" id="GridPersons">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        window.vDir = "{{$.VDir}}"
        window.Exercise = "{{$.Exercise}}"
        window.GridfieldName1  = "{{$.GridfieldName1}}"
        window.GridfieldTitle1 = "{{$.GridfieldTitle1}}"
        window.GridfieldName2  = "{{$.GridfieldName2}}"
        window.GridfieldTitle2 = "{{$.GridfieldTitle2}}"
    </script>
    <script src="static/results.js"></script>

    <div class="container text-center p-5">
        <div class="row">
            <div class="col-sm">
                <form method="GET" action="{{$.VDir}}/exercises/first/">
                    <button type="submit" class="btn btn-primary btn-lg">Start again with 1. Exercise</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
{{ template "footer" }}
{{ end }}