{{ define "secondExercise" }}
{{ template "header" }}
{{ template "nav" }}
<body>
<main class="jumbotron">
    <div class="text-center">
        <div class="row justify-content-md-center">
            <div class="col-sm border">
                <h1 class="mb-4 mt-4"><span class="fas fa-graduation-cap"></span>Second exercise</h1>
                <div id="countdown"><div class="values">Countdown comes here</div></div>
                <div class="container-fluid" id="GridExercise"></div>
            </div>
        </div>
    </div>
    <script>
        window.vDir = "{{$.VDir}}"
        window.Exercise = "{{$.Exercise}}"
        window.timerTime = "{{$.TimerTime}}"
        window.GridfieldName1  = "{{$.GridfieldName1}}"
        window.GridfieldTitle1 = "{{$.GridfieldTitle1}}"
        window.GridfieldName2  = "{{$.GridfieldName2}}"
        window.GridfieldTitle2 = "{{$.GridfieldTitle2}}"
    </script>
    <script src="static/exercise.js"></script>

    <div class="container text-center p-5">
        <div class="row">
            <div class="col-sm">
                <button type="submit" class="btn btn-primary btn-lg" onclick="ReloadData();">Re-Generate</button>
            </div>
            <div class="col-sm">
                <form method="GET" action="{{$.VDir}}/results/">
                    <button type="submit" class="btn btn-primary btn-lg">Results 1. Exercise</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
{{ template "footer" }}
{{ end }}